<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.3.2 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.metric.calculator.update" name="Metric Calculator - Update">
    <information>
      <category value="" />
      <displayname value="Metric Calculator - Update" />
      <description value="Plugin to use a dynamic measure matrix to do mathmatical operations on based on measures top down." />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="protocol" label="Protocol" type="list" description="HTTP protocol to be used" default="HTTP">
        <list>
          <item value="HTTP" />
          <item value="HTTPS" />
        </list>
      </property>
      <property key="httpPort" label="Port" type="long" description="Port of the App Mon web interfaces defaults are 8020 and 8021 for default values" default="8020" />
      <property key="matrixURL" label="Matrix URL" type="string" description="url to the Dynamic Measure Matrix saved dashboard" default="rest/management/reports/create/&lt;Dashboard Name Here&gt;?type=XML&amp;format=XML+Export" multiline="false" />
      <property key="username" label="Username" type="string" description="User with at least read access" default="default" multiline="false" />
      <property key="password" label="Password" type="password" description="Password for said user" default="" />
      <property key="operation" label="Operation" type="list" description="Mathmatical operation to run. Noted this plugin evaluates data top down based on order of measures." default="Add">
        <list>
          <item value="Add" />
          <item value="Sub" />
          <item value="Mul" />
        </list>
      </property>
      <property key="aggergation" label="Aggergation" type="list" description="Which aggergation should be used for operation" default="avg">
        <list>
          <item value="avg" />
          <item value="min" />
          <item value="max" />
          <item value="count" />
          <item value="sum" />
        </list>
      </property>
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="com.dynatrace.metric.calculator.update.monitor" name="Metric Calculator Monitor - Update">
    <plugin configid="com.dynatrace.metric.calculator.update" class="com.dynatrace.metric.calculator.Engine" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.metric.calculator.update.metricgroup1" name="Results">
    <metricgroup monitorid="com.dynatrace.metric.calculator.update.monitor">
      <metric defaultrate="purepath" name="Calc Results" unit="number" description="Calculated Resuslts from test run" />
    </metricgroup>
  </extension>
</plugin>
